*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Freedoka',sans-serif;
}

h1{
    text-align: center;
    margin-top: 20px;
}

#team-info{
    padding-top: 50px;
    width: 700px;
    margin: 0 auto;
}

img{
    max-width: 100px;
    height: auto;
}

